desktop.ini

# Visual studio files
.vs
.suo
.nuget
bin
obj
Debug
packages
*.componentinfo.xml

# Bonsai environment and build artifacts
.bonsai/Bonsai.exe*
.bonsai/Packages/
.bonsai/Settings/
/artifacts/
